@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --black: hsl(0 0% 10%);
  --white: hsl(0 0% 95%);
  --color-x: hsl(200 100% 50%);
  --color-o: hsl(300 100% 50%);
  --color-cell-hover: hsl(120 100% 10%);
  
  --color-primary: var(--white);
  --color-bg: var(--black);

  --font-family: "Grandstander", script;
  --font-size: clamp(1rem, 1rem + 5vmin, 1.5rem);
  --font-size-xs: calc(0.5 * var(--font-size));
  --font-size-sm: calc(0.75 * var(--font-size));
  --font-size-lg: calc(1.25 * var(--font-size));
  --font-size-xl: calc(2 * var(--font-size));
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-light: 200;

  --cell-size: 20vmin;
}

body {
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
  height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.display-none { display: none; }

header { 
  padding-block: 1rem;
  text-align: center; 
}
h1,h2 {margin-block-end: 0.5em;}
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }

p {
  line-height: 1.4;
  margin-block-end: 0.25em;
}

.button {
  padding: 0.25em 1em;
  border-radius: 2em;
  cursor: pointer;
  border: 0;
  background-color: var(--color-bg);
  color: var(--color-primary);
  outline: 2px solid currentColor;
  transition: background-color 200ms linear, color 200ms linear;
}

.button:hover, .button:focus {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.instructions {
  position: absolute;
  inset-inline-end: 1rem;
  inset-block-end: 1rem;
  font-size: var(--font-size-xs);
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.game-board {
  display: grid;
  width: min-content;
  background-color: var(--color-primary);
  place-content: center;
  margin-inline: auto;
  gap: 1vmin;
  grid-template-columns: repeat(3,min-content);
  grid-template-rows: repeat(3,min-content);
  border: 0;
}

.cell {
  width: var(--cell-size);
  aspect-ratio: 1/1;
  background-color: var(--color-bg);
  border: 0;
  cursor: pointer;
  outline: 0;
}

.cell:hover, .cell:focus {
  background-color: var(--color-cell-hover);
}

svg {
  display: block;
  max-width: 100%;
}
.cell svg {
  padding: 3vmin;
}

.x { fill: var(--color-x); }
.o { fill: var(--color-o); }


.modal {
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 100%, 0.4);
  
}
.modal-container {
  margin-block-start: 2rem;
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: 2px solid currentColor;
  margin-inline: auto;
  padding: 2em;
  width: min(100% - 2rem, 25rem);
  position: relative;
  font-size: var(--font-size-sm);
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  width: 1.5em;
  padding: 0;
  aspect-ratio: 1/1;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.instructions-modal {cursor: pointer;}